<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saved Passwords</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
            text-align: left;
        }
    </style>
</head>
<body>
    <h1>Tasks Details</h1>
    <table>
        <thead>
            <tr>
                <th>Sl. No.</th>
                <th>Task</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
                <td>{{ task.id }}</td>
                <td>{{ task.name }}</td>
                <td>{{ task.status }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table><br>
    <button><a href="{{ url_for('index') }}">Back to Home</a></button>
</body>
</html>
